In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/Hp/Desktop/dataset.csv')

In [3]:
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
4976,Male,41.0,0,0,No,Private,Rural,70.15,29.8,formerly smoked,0
4977,Male,40.0,0,0,Yes,Private,Urban,191.15,31.1,smokes,0
4978,Female,45.0,1,0,Yes,Govt_job,Rural,95.02,31.8,smokes,0
4979,Male,40.0,0,0,Yes,Private,Rural,83.94,30.0,smokes,0
4980,Female,80.0,1,0,Yes,Private,Urban,83.75,29.1,never smoked,0

In [4]:
df.describe()

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,4981.000000,4981.000000,4981.000000,4981.000000,4981.000000,4981.000000
mean,43.419859,0.096165,0.055210,105.943562,28.498173,0.049789
std,22.662755,0.294848,0.228412,45.075373,6.790464,0.217531
min,0.080000,0.000000,0.000000,55.120000,14.000000,0.000000
25%,25.000000,0.000000,0.000000,77.230000,23.700000,0.000000
50%,45.000000,0.000000,0.000000,91.850000,28.100000,0.000000
75%,61.000000,0.000000,0.000000,113.860000,32.600000,0.000000
max,82.000000,1.000000,1.000000,271.740000,48.900000,1.000000

In [5]:
df.shape

(4981, 11)

In [6]:
from sklearn.preprocessing import LabelEncoder
category_data = ['gender', 'ever_married','work_type','Residence_type','smoking_status']

for data in category_data:
  df[data] = LabelEncoder().fit_transform(df[data])
  df

In [7]:
#Check For Null Values
df.isnull()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
4976,False,False,False,False,False,False,False,False,False,False,False
4977,False,False,False,False,False,False,False,False,False,False,False
4978,False,False,False,False,False,False,False,False,False,False,False
4979,False,False,False,False,False,False,False,False,False,False,False
4980,False,False,False,False,False,False,False,False,False,False,False

In [8]:
#replace null values with mean value ( avg )

#mean-value of bmi
mean = np.mean(df['bmi'])    
mean  

df['bmi'].fillna(mean,inplace=True)
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,1,1,228.69,36.6,1,1
1,1,80.0,0,1,1,1,0,105.92,32.5,2,1
2,0,49.0,0,0,1,1,1,171.23,34.4,3,1
3,0,79.0,1,0,1,2,0,174.12,24.0,2,1
4,1,81.0,0,0,1,1,1,186.21,29.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
4976,1,41.0,0,0,0,1,0,70.15,29.8,1,0
4977,1,40.0,0,0,1,1,1,191.15,31.1,3,0
4978,0,45.0,1,0,1,0,0,95.02,31.8,3,0
4979,1,40.0,0,0,1,1,0,83.94,30.0,3,0
4980,0,80.0,1,0,1,1,1,83.75,29.1,2,0

In [9]:
#Normalization = 0-1 Range

from sklearn.preprocessing import MinMaxScaler

#make age,bmi,glucose-levels in 0-1 range

df[['gender','age','work_type','avg_glucose_level','bmi','smoking_status']] = MinMaxScaler().fit_transform(df[['gender','age','work_type','avg_glucose_level','bmi','smoking_status']])

In [10]:
x = df.drop(columns='stroke')
y = df['stroke']

In [11]:


datas = pd.read_csv('C:/Users/Hp/Desktop/dataset.csv')
datas

#change categorical-data to numerical-data

from sklearn.preprocessing import LabelEncoder
category_data = ['gender', 'ever_married','work_type','Residence_type','smoking_status']

for data in category_data:
  datas[data] = LabelEncoder().fit_transform(df[data])


#use fillna to replace null-values
mean = np.mean(datas['bmi'])    
mean  

datas['bmi'].fillna(mean,inplace=True)

# datas = datas.drop(columns='id')
datas

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,1,1,228.69,36.6,1,1
1,1,80.0,0,1,1,1,0,105.92,32.5,2,1
2,0,49.0,0,0,1,1,1,171.23,34.4,3,1
3,0,79.0,1,0,1,2,0,174.12,24.0,2,1
4,1,81.0,0,0,1,1,1,186.21,29.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
4976,1,41.0,0,0,0,1,0,70.15,29.8,1,0
4977,1,40.0,0,0,1,1,1,191.15,31.1,3,0
4978,0,45.0,1,0,1,0,0,95.02,31.8,3,0
4979,1,40.0,0,0,1,1,0,83.94,30.0,3,0
4980,0,80.0,1,0,1,1,1,83.75,29.1,2,0

In [12]:
x = datas.drop(columns='stroke')
y = datas['stroke']

In [13]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import preprocessing
from collections import Counter
print(sorted(Counter(datas['stroke']).items()))

[(0, 4733), (1, 248)]

In [14]:
loan_app=datas[datas['stroke']==1]
loan_ntapp=datas[datas['stroke']==0]

In [15]:
print(loan_app.shape,loan_ntapp.shape,df.shape)

(248, 11) (4733, 11) (4981, 11)

In [16]:
from imblearn.over_sampling import SMOTE
ros=SMOTE(random_state=0)
x_resam,y_resam=ros.fit_resample(x,y)
print(sorted(Counter(y_resam).items()),y_resam.shape)

[(0, 4733), (1, 4733)] (9466,)

In [17]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [18]:
x_train, x_test, y_train, y_test = train_test_split(x_resam,y_resam,test_size = 0.2,random_state=1)

In [19]:
modelR = RandomForestClassifier()
modelR.fit(x_train,y_train)

RandomForestClassifier()

In [20]:
y_predict = modelR.predict(x_test)
y_predict

array([0, 0, 1, ..., 0, 1, 1], dtype=int64)

In [21]:
accuracy = accuracy_score(y_test,y_predict)
accuracy

0.9408658922914467

In [26]:
from sklearn.metrics import confusion_matrix
array = confusion_matrix(y_test,y_predict)
array

array([[886,  72],
       [ 40, 896]], dtype=int64)

In [23]:
def prediction(g,a,hyt,ht,m,w,r,gl,b,s):

  #gender
  if g == "male":
    g = 1
  elif g == "female":
    g = 0
  else:
    g = 2

  #age
  a = ((a - min(datas['age']))/(max(datas['age']) - min(datas['age'])))

  #tension
  if hyt == "yes":
    hyt = 1
  elif hyt == "no":
    hyt = 0


  #heart-issues
  if ht == "yes":
    ht = 1
  elif ht == "no":
    ht = 0

  
  #married
  if m == "yes":
    m = 1
  elif m == "no":
    m = 0


  #work-type
  if w == "government":
    w = 0
  elif w == "student":
    w = 1
  elif w == "private":
    w = 2
  elif w == "self-employed":
    w = 3
  else:
    w = 4


  #residence-type
  if r == "urban":
    r = 1
  else:
    r = 0


  #glucose-levels
  if gl == "i do not know":
    gl = np.mean(datas['avg_glucose_level'])
  else:
    gl = ((int(gl) - min(datas['avg_glucose_level']))/(max(datas['avg_glucose_level']) - min(datas['avg_glucose_level'])))

  
  #bmi
  b = ((b - min(datas['bmi']))/(max(datas['bmi']) - min(datas['bmi'])))


  #smoking
  if s == "unknown":
    s = 0
  elif s == "never smoked":
    s = 1
  elif s == "formerly smoked":
    s = 2
  elif s == "smokes":
    s = 3

  pred = modelR.predict([[g,a,hyt,ht,m,w,r,gl,b,s]])
  return pred[1]




#INPUT - FROM - USER
g = input("Enter your gender : ")
g = g.lower()

a = int(input("Enter your age : "))

hyt = input("Do you have hypertension ? yes or no : ")
hyt = hyt.lower()

ht = input("Do you have any heart Disease ? yes or no : ")
ht = ht.lower()

m = input("Have you been Married ? yes or no : ")
m = m.lower()

w = input("Worktype ? private/self-employed/student/government/others : ")
w = w.lower()

r = input("residency type ? rural or urban ? : ")
r = r.lower()

gl = input('enter glucose levels. ? Enter value or type "i do not know" : ' )
gl = gl.lower()

b = int(input("Enter BMI"))

s = input("Smoking Status => unknown/never smoked/formerly smoked/smokes : ")
s = s.lower()


op = prediction(g,a,hyt,ht,m,w,r,gl,b,s)
if op == 1:
  print("Person has chances of having Stroke")
else:
  print("Patient has no risk of Stroke")

Enter your gender : male
Enter your age : 67
Do you have hypertension ? yes or no : no
Do you have any heart Disease ? yes or no : yes
Have you been Married ? yes or no : yes
Worktype ? private/self-employed/student/government/others : private
residency type ? rural or urban ? : urban
enter glucose levels. ? Enter value or type "i do not know" : 228
Enter BMI36
Smoking Status => unknown/never smoked/formerly smoked/smokes : formerly smoked
Patient has no risk of Stroke

C:\Users\Hp\anaconda3\lib\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [24]:
import pickle
pickle.dump(modelR,open('modelR.pkl','wb'))